@import url("https://fonts.googleapis.com/css2?family=Peralta&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.cdnfonts.com/css/cubano");
@import url('https://fonts.cdnfonts.com/css/sofia-pro');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    background-color: rgb(18 24 27);
}

nav {
    background-color: rgb(18 24 27);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    padding: 0 5vw;
    color: #fff;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.mode-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img{
    cursor: pointer;
}

nav span {
    margin-right: 10px;
}

.sun {
    right: 50px;
    transition: 2s ease;
    display: none;
}

.moon {
    right: 50px;
    transition: 2s ease;
    display: block;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
}

h1 {
    color: #fff;
    font-family: "Cubano", sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    font-weight: 400;
}

h1 span {
    color: rgb(234 179 8);
}

.result-container {
    position: relative;
    width: 300px;
}

.history {
    position: absolute;
    top: -2px;
    left: 11px;
    margin-top: 5vh;
    font-family: "Cubano";
    color: rgb(18 24 27);
    font-weight: 300;
    font-size: 1.2rem;
    opacity: 0.6;
}

input {
    width: 100%;
    background-color: rgb(239 68 68);
    color: rgb(18 24 27);
    font-family: "Cubano", sans-serif;
    font-size: 2.5rem;
    border: none;
    border-radius: 10px;
    padding: 12px 11px;
    margin-top: 5vh;
    overflow: scroll;
}

input[type="text"]:focus {
    outline-width: 0;
}

.buttons {
    margin-top: 3vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 10px;
    width: 100%;
}

.buttons button {
    height: 80px;
    font-size: 2rem;
    font-family: "Cubano", sans-serif;
    border: none;
    background-color: rgb(234 179 8);
    border-radius: 5px;
    cursor: pointer;
}

.zero {
    grid-column: span 2;
}

/* .plus {
    height: 170px !important;
    grid-row: span 2;
} */

.equals {
    height: 170px !important;
    grid-row: span 2;
}
